name: MLflow CI

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  run-mlflow-project:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install mlflow==2.19.0
          pip install scikit-learn pandas numpy matplotlib seaborn

      - name: Run MLflow Project (NO conda)
        run: |
          mlflow run MLProject --env-manager=local

      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: mlruns

      - name: Build Docker Image (MLflow)
        run: |
          RUN_ID=$(ls mlruns/0 | head -n 1)
          mlflow models build-docker \
            -m mlruns/0/$RUN_ID/artifacts/model \
            -n rf-diabetes-ci

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: |
          mlflow models build-docker -m runs:/0/model -n ${{ secrets.DOCKER_USERNAME }}/rf-diabetes-ci

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/rf-diabetes-ci